$icon-font-path: "../styles/fonts/";
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$headline-color: #555;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin my_animation($keyframes, $dur, $time) {
  -webkit-animation: $keyframes $dur $time linear forwards; /* Safari 4+ */
  -moz-animation:    $keyframes $dur $time linear forwards; /* Fx 5+ */
  -o-animation:      $keyframes $dur $time linear forwards; /* Opera 12+ */
  animation:         $keyframes $dur $time linear forwards; /* IE 10+, Fx 29+ */
}

@mixin translately($x, $y, $z, $sx, $sy) {
  -webkit-transform: translate3d($x, $y, $z) scale($sx, $sy);
  -moz-transform: translate3d($x, $y, $z) scale($sx, $sy);
  -o-transform: translate3d($x, $y, $z) scale($sx, $sy);
  -ms-transform: translate3d($x, $y, $z) scale($sx, $sy);
  transform: translate3d($x, $y, $z) scale($sx, $sy);
}


@mixin shadow($dur) {
    -webkit-box-shadow: 3px 9px 16px 10px #444;
    -moz-box-shadow: 3px 9px 16px 10px #444;
    box-shadow: 3px 9px 16px 10px #444;
    -webkit-transition: all $dur linear;
    -o-transition: all $dur linear;
    -moz-transition: all $dur linear;
    -ms-transition: all $dur linear;
    transition: all $dur linear;
}

// bower:scss
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

/* Globals
-------------------------------------------------- */
body {
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height:1;
  color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headline-color;
}

img {
  @extend .img-responsive;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  @extend .form-control;
}
select {
  @extend .form-control;
}
.btn {
  @extend .btn-default;
}
button {
  @extend .btn;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Modals
-------------------------------------------------- */
.modal-window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
}
.modal-window .modal-wrapper {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.modal-window .modal-wrapper .modal-layout {
  display: table-cell;
  vertical-align: middle;
  text-align: middle;
}
.modal-window .modal-wrapper .modal-layout .modal-content {
  width: 400px;
  padding: 15px;
  background: #fff;
}
.modal-window .modal-wrapper .modal-layout .modal-content h1 {
  font: 18px "Arial Black", "Arial Bold", Gadget, sans-serif;
}
$duration: .2s;

.shadow {
  @include shadow($duration/2);
}

/* Views
-------------------------------------------------- */
.view-home {
  text-align:center;
  .item {
    h1 {
      text-align: left;
      font-size: 96px;
      color:white;
    }
    margin-bottom: 2px;
    width: 100%;
    height: 180px;
    background-color: red;
    -webkit-transition: all $duration/2 linear;
    -o-transition: all $duration/2 linear;
    -moz-transition: all $duration/2 linear;
    -ms-transition: all $duration/2 linear;
    transition: all $duration/2 linear;
    &:nth-of-type(even) {
      background-color: blue;
    }
    &.movedown {
      @include my_animation(swapdown, $duration, 1);
    }

    &.moveup {
      @include my_animation(swapup, $duration, 1);
    }
  }

}

@-o-keyframes swapdown {
  0% {
    @include translately(0,0,0,1,1);
  }
  75% {
    @include translately(0, 150px, -20px, 0.88, 0.88);
  }
  100% {
    @include translately(0, 200px, 0, 1, 1);
  }
}
@-o-keyframes swapup {
  0% {
    @include translately(0,0,0,1,1);
  }
  75% {
    @include translately(0, 150px, -20px, 0.88, 0.88);
  }
  100% {
    @include translately(0, 200px, 0, 1, 1);
  }
}

@-moz-keyframes swapdown {
  0% {
    @include translately(0,0,0,1,1);
  }
  75% {
    @include translately(0, 150px, -20px, 0.88, 0.88);
  }
  100% {
    @include translately(0, 200px, 0, 1, 1);
  }
}
@-moz-keyframes swapup {
  0% {
    @include translately(0,0,0,1,1);
  }
  75% {
    @include translately(0, 150px, -20px, 0.88, 0.88);
  }
  100% {
    @include translately(0, 200px, 0, 1, 1);
  }
}
@-webkit-keyframes swapdown {
  0% {
    @include translately(0,0,0,1,1);
  }
  75% {
    @include translately(0, 150px, -20px, 0.88, 0.88);
  }
  100% {
    @include translately(0, 200px, 0, 1, 1);
  }
}
@-webkit-keyframes swapup {
  0% {
    @include translately(0,0,0,1,1);
  }
  75% {
    @include translately(0, -150px, 20px, 0.99, 0.99);
  }
  100% {
    @include translately(0, -200px, 0, 1, 1);
  }
}
@keyframes swapdown {
0% {
    @include translately(0,0,0,1,1);
  }
  75% {
    @include translately(0, -150px, 20px, 0.99, 0.99);
  }
  100% {
    @include translately(0, -200px, 0, 1, 1);
  }
}
@keyframes swapup {
  0% {
    @include translately(0,0,0,1,1);
  }
  75% {
    @include translately(0, -150px, 20px, 0.99, 0.99);
  }
  100% {
    @include translately(0, -200px, 0, 1, 1);
  }
}

/* Media Queries
-------------------------------------------------- */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { }

/* We occasionally expand on these media queries to include a max-width to limit CSS to a narrower set of devices. */
@media (max-width: $screen-xs-max) { }
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { }
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { }
@media (min-width: $screen-lg-min) { }
